:root {
    --radial-background: radial-gradient(
        circle at 50% 0,
        #ffffff,
        #ededed00 70.71%
      ),
      radial-gradient(
        circle at 6.7% 75%,
        #f8f8f8,
        #d9d9d900 70.71%
      ),
      radial-gradient(
          circle at 93.3% 75%,
          #fefefec0,
          #00ff0000 70.71%
        )
        #f1f1f1;
    --hover-cell-background: linear-gradient(45deg, white, hsla(196, 100%, 85%, 0.561));
    --hover-month-cell-background: linear-gradient(
      45deg,
      white,
      hsla(196, 100%, 85%, 0.561)
    );
    --selected-background: linear-gradient(135deg, #156b9a57, hsla(179, 10%, 88%, 0.741));
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    user-select: none;
    font-size: 1.2rem;
    font-family: sans-serif;
    color: #392e2e;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .month-selector {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: var(--radial-background);
    border-radius: 10px;
    display: grid;
    /* grid-template-areas: "1 2 3" "4 5 6" "7 8 9" "10 11 12"; */
    grid-template-columns: repeat(3, 1fr);
  }
  
  .selectable-month {
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 2px;
    background-clip: content-box;
  }
  
  .selectable-month:hover {
    background: var(--hover-month-cell-background);
    background-clip: content-box;
  }
  
  .selected-month {
    background: var(--selected-background);
    background-clip: content-box;
  }
  
  .month-selector span:nth-child(1) {
    border-top-left-radius: 10px;
  }
  
  .month-selector span:nth-child(3) {
    border-top-right-radius: 10px;
  }
  
  .month-selector span:nth-child(10) {
    border-bottom-left-radius: 10px;
  }
  
  .month-selector span:nth-child(12) {
    border-bottom-right-radius: 10px;
  }
  
  .calendar {
    position: relative;
    border-radius: 10px;
    box-shadow: 0 3px 6px #ddd;
    width: 1000px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: var(--radial-background);
  }
  
  .header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
  }
  
  .header--info {
    flex: 1;
    font-size: 1.5em;
  }
  
  .header--month {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .header--year {
    /* cursor: pointer; */
  }
  
  .header-icons span {
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .header-icons span:hover {
    background: #738b93;
  }
  
  .weekrow {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: #ffffff3b;
    margin: 10px 0 1px;
    border-radius: 5px;
  }
  
  .weekday {
    height: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: hsla(193, 74%, 16%, 0.584);
    padding: 1px;
    background-clip: content-box;
  }
  
  .day {
    height: 150px;
    display: grid;
    justify-content: center;
    align-items: center;
  
    background:#ffffff;
    padding: 1px;
    background-clip: content-box;
    border-radius: 5px;
    cursor: pointer;
  }
  .day button {
   background: rgba(200,200,200,0.2);
   border: none;
   width: 2em;
   height: 2em;
   padding: 0.5em;
   border-radius: 10px;
   cursor: pointer;
   visibility: hidden;
  }
  .day:not(.today):hover button {
    visibility: visible;
  }
  
  .day:not(.today):hover {
    background: var(--hover-cell-background);
    background-clip: content-box;
  }
  
  .holiday {
    background: linear-gradient(135deg, white, white);
    background-clip: content-box;
  }
  
  .today {
    background: var(--selected-background);
    background-clip: content-box;
  }
  