input::placeholder {
    color: rgb(48, 46, 46);
}

.form {
    display: flex;
    flex-Direction: column;
    width: 100%;
    background-Color:  hsl(90, 10%, 95%); /*color10*/
    font-Size: large;
    color: rgb(0, 0, 0);
}

.d1 { /*color 3 */
    display: flex;
    justify-Content: flex-starrt;
    height: 90px;
    background-Color: hsla(193, 74%, 16%, 0.584);

}

.d2 {/*color 4 */
    display: flex;
    height: 90px;
    justify-Content: flex-start;
    background-Color: hsl(210, 30%, 96%);
    align-Items: center;


}

.d3 {/*color 5 */
    display: flex;
    height: 90px;
    justify-content: flex-start;
    background-Color: hsla(193, 74%, 16%, 0.584);


}
.d4 {/*color 6 */
    display: flex;
    height: 90px;
    justify-Content: flex-start;
    background-Color: hsl(210, 21%, 95%)


}
.d5 {/*color 7 */
    display: flex;
    height: 90px;
    justify-Content: flex-start;
    background-Color:hsla(193, 74%, 16%, 0.584);


}



input {
    height: 100px;
    margin-Left: 40px;
    width: 145px;
    background-Color: transparent;/*color 8*/
    border: none;
    color: rgb(32, 31, 31);
       
}

.button {
    height: 70px;
    background-Color: hsl(96, 40%, 77%);/*color 9 */
    border: none;
   color: rgb(7, 7, 7);
}